<mat-radio-group
  class="form-auswahl"
  [ngModel]="ausgewaehlteForm()"
  (change)="formGeaendert($event)"
  >
  @for (geometrischeForm of geometrischeFormen; track $index) {
    <mat-radio-button class="form-button" [value]="geometrischeForm">
      {{geometrischeForm}}
    </mat-radio-button>
  }
</mat-radio-group>

<div class="container">
  <div class="row">
    <div class="col-4 form-ansicht">
      @if (ausgewaehlteForm() === Form.RECHTECK) {
        <div class="rechteck"></div>
      }
      @if (ausgewaehlteForm() === Form.DREIECK) {
        <div class="dreieck"></div>
      }
      @if (ausgewaehlteForm() === Form.KREIS) {
        <div class="kreis"></div>
      }
    </div>

    <form class="col-4 groessen-eingabe" [formGroup]="groessenEingabeForm">
      @if (ausgewaehlteForm() === Form.RECHTECK || ausgewaehlteForm() === Form.DREIECK) {
        <mat-form-field class="example-full-width">
          <mat-label>a</mat-label>
          <input
            matInput
            type="number"
            formControlName="wertA"
            [(ngModel)]="a"
            (change)="berechnen()"
          >
          @if (
            groessenEingabeForm.controls["wertA"].hasError("wertGroesserGleichNull")
            && !groessenEingabeForm.controls["wertA"].hasError("required")
            ) {
            <mat-error>Muss ≥ 0 sein.</mat-error>
          }
          @if (groessenEingabeForm.controls["wertA"].hasError("required")) {
            <mat-error>Muss ein numerischer Wert sein.</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>b</mat-label>
          <input
            matInput
            type="number"
            formControlName="wertB"
            [(ngModel)]="b"
            (change)="berechnen()"
          >
          @if (
            groessenEingabeForm.controls["wertB"].hasError("wertGroesserGleichNull")
            && !groessenEingabeForm.controls["wertB"].hasError("required")
            ) {
            <mat-error>Muss ≥ 0 sein.</mat-error>
          }
          @if (groessenEingabeForm.controls["wertB"].hasError("required")) {
            <mat-error>Muss ein numerischer Wert sein.</mat-error>
          }
        </mat-form-field>
      }
      @if (ausgewaehlteForm() === Form.DREIECK) {
        <mat-form-field class="example-full-width">
          <mat-label>c</mat-label>
          <input
            matInput
            type="number"
            formControlName="wertC"
            [(ngModel)]="c"
            (change)="berechnen()"
          >
          @if (
            groessenEingabeForm.controls["wertC"].hasError("wertGroesserGleichNull")
            && !groessenEingabeForm.controls["wertC"].hasError("required")
            ) {
            <mat-error>Muss ≥ 0 sein.</mat-error>
          }
          @if (groessenEingabeForm.controls["wertC"].hasError("required")) {
            <mat-error>Muss ein numerischer Wert sein.</mat-error>
          }
        </mat-form-field>
        @if (dreieckSeitenSindEingegeben() && !istValidesDreieck()) {
          <mat-error>Ungültiges Dreieck.</mat-error>
        }
      }
      @if (ausgewaehlteForm() === Form.KREIS) {
        <mat-form-field class="example-full-width">
          <mat-label>r</mat-label>
          <input
            matInput
            type="number"
            formControlName="wertR"
            [(ngModel)]="r"
            (change)="berechnen()"
          >
          @if (
            groessenEingabeForm.controls["wertR"].hasError("wertGroesserGleichNull")
            && !groessenEingabeForm.controls["wertR"].hasError("required")
            ) {
            <mat-error>Muss ≥ 0 sein.</mat-error>
          }
          @if (groessenEingabeForm.controls["wertR"].hasError("required")) {
            <mat-error>Muss ein numerischer Wert sein.</mat-error>
          }
        </mat-form-field>
      }
    </form>

    <div class="col-4">
      <mat-radio-group
      class="berechnungsgroesse"
      [ngModel]="ausgewaehlteBerechnungsGroesse()"
      (change)="berechnungsGroesseGeaendert($event)"
      >
      @for (berechnungsGroesse of berechnungsGroessen; track $index) {
        <mat-radio-button class="form-button" [value]="berechnungsGroesse">
          {{berechnungsGroesse}}
        </mat-radio-button>
      }
    </mat-radio-group>
    </div>
    
  </div>
  
  <div class="row footer">
    <div class="col-4">
      <span>Formel:<br></span>
      <span [innerHTML]="berechnungsFormel()"></span>
    </div>

    <form class="col-4 ergebnis">
      @if (ausgewaehlteBerechnungsGroesse() === BerechnungsGroesse.FLAECHE) {
        <span>Flächeninhalt: {{flaecheninhalt}}</span>
      }
      @if (ausgewaehlteBerechnungsGroesse() === BerechnungsGroesse.UMFANG) {
        <span>Umfang: {{umfang}}</span>
      }
    </form>

    <div class="col-4">
      <button mat-raised-button class="eingabe-loeschen" (click)="eingabenLoeschen()">Eingabe löschen</button>
    </div>
  </div>
</div>
